<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Funds</title>
    <link rel="stylesheet" href="../static/css/generalStyling.css">
    <link rel="stylesheet" href="../static/css/createAccountCSS.css">
</head>
<body>
<div class="banner">
  <div class="left">
    <img src="../static/images/logo.png" alt="Logo">
  </div>
  <div class="center">
      <h1>Bank Name</h1>
  </div>
  <div class="right">
  </div>
</div>
<br>
<h1>Account created for {{fName}} {{lName}} ID num {{idNum}}</h1>
<form action="/addFunds" method="POST">
    <label for="accountAmount">Enter the amount you want in your account:</label>
    <input type="text" id="accountAmount" name="accountAmount" required>
    <br>
    <input type="submit" value="Confirm Amount">
</form>
</body>
</html>