<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Funds</title>
    <link rel="stylesheet" href="../static/css/generalStyling.css">
    <link rel="stylesheet" href="../static/css/createAccountCSS.css">
</head>
<body>
<div class="banner">
  <div class="left">
    <form id="view" method="POST" action="/exitView">
        <button type="submit" class="logo-button">
            <img src="../static/images/logo.png" alt="Logo">
        </button>
    </form>
  </div>
  <div class="center">
      <h1>Block Link Bank - Deposit Headquarters</h1>
  </div>
  <div class="right">
  </div>
</div>
<br>
<form action="/addFunds" method="POST" class="create-account-form">
    <label for="accountAmount">Enter the amount you want in your account:</label>
    <input type="text" id="accountAmount" name="accountAmount" required>
    <br>
    <input type="submit" value="Confirm Amount">
</form>
<div id="flash-message"></div>
<script>
    let flashMessage = "{{ get_flashed_messages()|safe }}"
    if(flashMessage !== "[]") {
        alert(flashMessage)
    }
</script>
</body>
</html>