<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auditing Headquarters</title>
    <link rel="stylesheet" href="../static/css/generalStyling.css">
    <link rel="stylesheet" href="../static/css/auditCSS.css">
</head>
<body>
<div class="banner">
  <div class="left">
    <form id="view" method="POST" action="/exitView">
        <button type="submit" class="logo-button">
            <img src="../static/images/logo.png" alt="Logo">
        </button>
    </form>
  </div>
  <div class="center">
      <h1>Block Link Bank - Auditing Headquarters</h1>
  </div>
  <div class="right">
  </div>
</div>
<br>
<form id="docType" method="POST" action="/auditDocType">
  <label for="accountChain">
    <input type="radio" id="accountChain" name="audit_doc_type" value="balances" onchange="submitForm()">
    <img src="../static/images/balances.png" alt="Account Chain" style="cursor: pointer;">
      <h2>Balances</h2>
  </label>
  <label for="transactionChain">
    <input type="radio" id="transactionChain" name="audit_doc_type" value="transactions" onchange="submitForm()">
    <img src="../static/images/transactions.png" alt="Transaction Chain" style="cursor: pointer;">
      <h2>Transactions</h2>
  </label>
</form>
<script>
    function submitForm() {
        document.getElementById('docType').submit()
    }
</script>
</body>
</html>