<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auditing Headquarters</title>
    <link rel="stylesheet" href="../static/css/generalStyling.css">
    <link rel="stylesheet" href="../static/css/auditCSS.css">
</head>
<body>
<div class="banner">
  <div class="left">
    <form id="view" method="POST" action="/exitView">
        <button type="submit" class="logo-button">
            <img src="../static/images/logo.png" alt="Logo">
        </button>
    </form>
  </div>
  <div class="center">
      <h1>Block Link Bank - Auditing Headquarters</h1>
  </div>
  <div class="right">
  </div>
</div>
<br>
<div class="content">
    {% for link in output %}
    {{ link }}<br>
    {% endfor %}
    <br>
</div>
</body>
</html>