<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Trade</title>
    <link rel="stylesheet" href="../static/css/generalStyling.css">
    <link rel="stylesheet" href="../static/css/tradeCSS.css">
</head>
<body>
<div class="banner">
  <div class="left">
    <img src="../static/images/logo.png" alt="Logo">
  </div>
  <div class="center">
      <h1>Block Link Bank - Trade Headquarters</h1>
  </div>
  <div class="right">
    <p>{{ fName }} {{ lName }}</p>
      <p>Balance: ${{ balance }}</p>
  </div>
</div>
<br>
<form action="/sendTrade" method="POST" class="trade-form">
    <label for="tradeAmount">Enter the amount you want to send:</label>
    <input type="text" id="tradeAmount" name="tradeAmount" required>
    <br>
    <input type="submit" value="Confirm Trade">
</form>
<div id="flash-message"></div>
<script>
    let flashMessage = "{{ get_flashed_messages()|safe }}"
    if(flashMessage !== "[]") {
        alert(flashMessage)
    }
</script>
</body>
</html>