<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/generalStyling.css">
    <link rel="stylesheet" href="../static/css/createAccountCSS.css">
</head>
<body>
<div class="banner">
  <div class="left">
    <img src="../static/images/logo.png" alt="Logo">
  </div>
  <div class="center">
      <h1>Bank Name - Create Account</h1>
  </div>
  <div class="right">
  </div>
</div>
<br>
<form action="/createAccount" method="POST">
    <label>Enter your first name:</label>
    <input type="text" id="new_user_first_name" name="new_user_first_name" required>
    <br>
    <label>Enter your last name:</label>
    <input type="text" id="new_user_last_name" name="new_user_last_name" required>
    <br>
    <label>Enter your password:</label>
    <input type="password" id="new_user_password" name="new_user_password" required>
    <br>
    <label>Confirm your password:</label>
    <input type="password" id="new_user_confirm_password" name="new_user_confirm_password" required>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>