<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trade</title>
    <link rel="stylesheet" href="../static/css/generalStyling.css">
    <link rel="stylesheet" href="../static/css/tradeCSS.css">
</head>
<body>
<div class="banner">
 <div class="left">
    <form id="view" method="POST" action="/exitView">
        <button type="submit" class="logo-button">
            <img src="../static/images/logo.png" alt="Logo">
        </button>
    </form>
  </div>
  <div class="center">
      <h1>Bank Name - Trade Headquarters</h1>
  </div>
  <div class="right">
    <p>{{ fName }} {{ lName }}</p>
      <p>Balance: ${{ balance }}</p>
  </div>
</div>
<br>
<form action="/trade" method="POST" class="trade-form">
    <label for="recip_id_num">Enter the recipient pin:</label>
    <input type="text" id="recip_id_num" name="recip_id_num" required>
    <br>
    <label for="recip_first_name">Enter the recipient first name:</label>
    <input type="text" id="recip_first_name" name="recip_first_name" required>
    <br>
    <label for="recip_last_name">Enter the recipient last name:</label>
    <input type="text" id="recip_last_name" name="recip_last_name" required>
    <br>
    <input type="submit" value="Submit">
</form>
<div id="flash-message"></div>
<script>
    let flashMessage = "{{ get_flashed_messages()|safe }}"
    if(flashMessage !== "[]") {
        alert(flashMessage)
    }
</script>
</body>
</html>